* {
	box-sizing: border-box;
	height: 100%;
}

body {
	margin: 0px;
	padding: 0px;
	height: 100%;
	/* display: flex;
	flex-direction: column; */
}

/* header styling */

.weather-header {
	display: grid;
	background-color: darkgray;
	height: 150px;
	text-align: center;
}

#header-title {
	color: white;
	font-size: 50px;
	font-weight: bold;
	padding-top: 40px;
}

/* main content container styling */

.container {
	flex: 1 0 auto;
	display: grid;
	padding-top: 20px;
	grid-template-columns: 2fr 4fr;
}

.search-row {
	background-color: lightblue;
	height: 300px;
	display: grid;
	grid-template-rows: 1fr 1fr 1fr;
}

#searchtext {
	height: 30px;
}

.search-btn {
	height: 30px;
}

.data-row {
	background-color: lightyellow;
	height: 300px;
}
/* footer styling */

.weather-footer {
	background-color: darkgray;
	height: 50px;
	flex-shrink: 0;
}
